<%- include('partials/header') %>

<header>
    <div class="wrapper">
        <div class="name-desc">
            <h1 class="name">Ridwan Raji</h1>
            <p>Highly skilled software development professional bringing more than 2 years in software design, development and integration. 
                Offering advanced knowledge of JavaScript. Background writing code and developing systems for Industry applications.
            </p>
        </div>
        <div class="profile-details">
            <div class="address-email">

                <address><i class="fad fa-location"></i>12 Branco Street. Oshodi. Lagos . Nigeria.</address>
                <p><i class="far fa-phone-square"></i><span class="phone-number font-awesome"><a
                            href="tel:+2348038513375">234(0)806-868-2495</a></span></p>
                <p>
                    <i class="far fa-envelope"></i><span class="email font-awesome"><a
                            href="ridwanraji4@gmail.com">ridwanraji4@gmail.com</a></span>
                </p>

            </div>
            <div class="social-links">
                <p>
                    <i class="fab fa-linkedin-in"></i><span class="linkedin font-awesome"><a
                            href="https://www.linkedin.com/in/ridwan-raji-133693119/" target="_blank"
                            rel="noopener noreferrer">LinkedIn</a></span>
                </p>
                <p>
                    <i class="fab fa-twitter"></i><span class="font-awesome"><a href="https://twitter.com/"
                            target="_blank" rel="noopener noreferrer">Twitter</a></span>
                </p>
                <p>
                    <i class="fab fa-github"></i><span class="font-awesome"><a href="https://github.com/Ridwan0029"
                            target="_blank" rel="noopener noreferrer">GitHub</a></span>
                </p>
            </div>
        </div>
    </div>
</header>


<main>
    <div class="wrapper">
        <div class="experience-education">
            <section class="experience">
                <h3>Experience</h3>

                <div class="work-experience">
                    <div class="heading-img">
                        <a href="https://internship.zuri.team/"><img src="https://i.imgur.com/OcE4iVn.png" alt="hotels-ng-ingressive-for-good" /></a>
                        <h4>HNG Internship <span>&#8212; &nbsp; Lagos</span></h4>
                    </div>
                    <p>Software Developer</p>
                    <p class="date">08/2021 - </p>
                    <ul class="desc">
                        <li>Hand of experience building and developing scalable web applications with HTML, CSS,
                            and
                            JavaScript.
                        </li>
                        <li>Understanding of Agile web development process.</li>
                        <li>Converting Figma UI/UX prototype designs into code.</li>
                        <li>Collaboration with development team to implement complex user interfaces and API
                            using
                            version
                            control.</li>
                        <li>Day-to-day remote meetings and stand-up with team members on slack.</li>
                    </ul>
                </div>
                
            <section class="education">
                <h3>Education</h3>
                <div class="education-desc">
                    <h4>Google Africa Developer Training Program</span></h4>
                    <p>Mobile Web Specialist</p>
                    <p class="date">09/2020 - 02/2021</p>
                    <ul class="desc">
                        <li ">Google Developer Certificate</li> <a href="https://adscerts.com/scholar/BA25FCBB770856C1">view</a>
                    </ul>
                </div>
                <div class="education-desc">
                    <h4>University of Ibadan <span>&#8212; &nbsp; Ibadan, Nigeria</span></h4>
                    <p>M.Sc. Mathematical modeling</p>
                    <p class="date">06/2018 - 02/2021</p>
                </div>
                <div class="education-desc">
                    <h4>Osun State University <span>&#8212; &nbsp; Osogbo, Nigeria</span></h4>
                    <p>B.Sc. Mathematics</p>
                    <p class="date">10/2011 - 09/2016</p>
                </div>
                <div class="education-desc">
                    <h4>Federal Science and Technical College<span>&#8212; &nbsp; Ilesa, Nigeria</span></h4>
                    <p>High School</p>
                    <p class="date">10/2003 - 07/2009</p>
                    <ul class="desc">
                        <li>Senior School Leaving Certificate</li>
                    </ul>
                </div>
            </section>
        </div>

         <div class="projects-skills-language">
            <section class="skills">
                <h3>Skills</h3>
                <div class="code">
                    <h4>Programming/Computer Skills</h4>
                    <ul class="skills-list">
                        <li>MEAN Stack</li>
                        <li>HTML/CSS/JavaScript</li>
                        <li>Git</li>
                </div>
                <div class="strength">
                    <h4>Strength</h4>
                    <ul class="strength-list">
                        <li>Team player</li>
                        <li>Leadership</li>
                        <li>Emotional Intelligence</li>
                        <li>Project Management</li>
                    </ul>
                </div>
                <div class="lang">
                    <h4>Language</h4>
                    <ul class="lang-list">
                        <li>Yoruba</li>
                        <li>English</li>
                    </ul>
                </div>
            </section>
            <section class="cert">
                <h2>REVIEWS</h2>
                <form action="/" method="POST" >
                    <input type="text" name="nameOne" placeholder="Enter your name" style="height: 2em; margin: 1rem 0;">
                    <textarea name="nameTwo" id="" cols="50" rows="5" placeholder="Enter your comment" ></textarea>
                    <button style="margin: 1rem 0;">Comment</button>
                </form>
                <div style=" height: max-content; >
                    <% data.forEach(function(datum){ %>
                        <div style="margin-bottom: 1rem;">
                            <h3 style="font-size: medium;"><%= datum.firstName %></h3>
                            <p><%= datum.lastName %></p>
                        </div> 
                    <% }) %> 
               </div>
            </section>


        </div>
    </div>
</main>

<%- include('partials/footer') %>